@model IEnumerable<Part_2.Models.ProductViewModel>

@{
    ViewData["Title"] = "Marketplace";
}

<h1>All Products</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Production Date</th>
            <th>Price</th>
            <th>Farmer</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Category</td>
                <td>@item.ProductionDate.ToShortDateString()</td>
                <td>@item.Price.ToString("C", new System.Globalization.CultureInfo("af-ZA"))</td>
                <td>
                    <a asp-action="Details" asp-controller="Profile" asp-route-id="@item.FarmerId">@item.FarmerName</a>
                </td>
                <td>
                    <a asp-action="ProductDetails" asp-route-id="@item.Id" class="btn btn-info">View</a>
                </td>
            </tr>
        }
    </tbody>
</table>
